@keyframes drawPath {
    to {
      stroke-dashoffset: 0;
    }
  }

  .right-here line {
    fill: none;
    stroke: #d9f070;
    stroke-linecap: round;
    stroke-width: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: drawPath 2s ease-out infinite;
  }

  @keyframes typingAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 8ch; /* Adjust the width based on the number of characters in your text */
    }
  }

  span.resimovel {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid #ffffff; /* Adjust the border style as needed */
    white-space: nowrap;
    animation: typingAnimation 1s steps(8) infinite;
  }
  .resimovel{
    text-align: center;
    align-self: center;
    font-family: gotham-light;
    color:#fff;
    font-size: 40pt;
    &.tiny{
        font-size: 15pt;

    }
  }

  .main-loader{
    display: flex;
    flex-direction: column;
    background: #000;
    height: 100vh;
    width: inherit;
    .right-here{
        align-self: center;
        margin:5em 45vw;

        #Line_22{

        }
        #Line_11{

        }
        #Line_44{

        }
        #Line_33{

        }
    }
  }