.parteners-section-container{
    flex-direction: column;
    justify-items: center;
    align-items: center;
    line-height: 4;

    h2{
        font-family: gotham-medium;
        font-size: 2.75rem;
    }
    span{
        font-family: gotham-light;
        font-size: 10pt;
    }
}